*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======== Global Start ========= */
html{
	overflow-x: hidden;
    scroll-behavior: smooth;
}
#bodys{
    min-height: 100vh;
    background-color: var(--body-bg);
}
a,
a:hover {
	text-decoration: none !important;
}
ul{
    list-style-type: none;
}


section{
    border: 1px solid greenyellow;
	padding: 3rem;
    .section_heading{	
        display: flex;
        align-items: center;
        h1{
            font-size: 20px;
            color: var(--white);
            text-shadow: 0 0 1px var(--blue);
            font-weight: 500;
        }
    }
}

@import'./container';
/* ======== Global End ========= */