*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======== Global Start ========= */
html{
	overflow-x: hidden;
    scroll-behavior: smooth;
}
#bodys{
    min-height: 100vh;
    background-color: var(--body-bg);
}
a,
a:hover {
	text-decoration: none !important;
}
ul{
    list-style-type: none;
}


section{
	padding: 1.5rem .5rem;
    .section-title{
        h2{
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            line-height: 1px;
            margin: 0 0 20px 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: var(--gray); 
            font-family: "Poppins", sans-serif;
            &::after{
                content: "";
                width: 50px;
                height: 2px;
                display: inline-block;
                background: var(--heading_after);
                margin: 4px 5px;
            }
        }
        p{
            margin: 0;
            margin: -15px 0 15px 0;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: #fff;  
        }
    }
}

@import'./container';
/* ======== Global End ========= */