.navigation{
    height: 50vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-120%);
    transition: transform 650ms;
    z-index: var(--zindex_mid);
    //border: 1px solid red;
    nav{
      width: 100%;
      margin: 0 auto;
      background-image: url("https://i.postimg.cc/1tJy5QzK/Shishir.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 2rem 2rem 0rem 2rem;
      z-index: var(--zindex_low);
      //border: 1px solid rgb(251, 255, 0);
        position: relative;
     .top{
      //border: 1px solid red;
      .brand{
        font-size: 25px;
        color: #02be5c;
        font-weight: 700;
      }
     }
   
     .bottom{
      ul{
      //border: 1px solid red;
       z-index: 3 !important;
       list-style-type: none;
       .list{
        //border: 1px solid red;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 1rem 1rem 0;
        overflow: hidden;
        .span1,
        .span2{
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 350ms;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: bold;
        }
        .span1{
         display: none;
        }
        .span2{
         a{
          color: #02be5c;
         }
        }
        &:hover .span2 a{
          color:var(--red) !important;
          text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 2px 2px 19px rgba(206,89,55,0);
        }
        @import'./colorMode';
       }
      }
     }
     &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      z-index: -1;
    }
    }
  

}
  
  .open{
   transform: translateX(0%);
  }

  @mixin sm-nav(){
    .navigation{
      nav{
        width: 85%;
      }
    }
  }
  @mixin md-nav(){
    .navigation{
      nav{
        width: 70%;
        background: none !important;
        background-color: black !important;
      }
    }
  }
  @mixin lg-nav(){
    .navigation{
      height: 65px;
      width: 100%;
      transform: translateX(0%);
      padding: 0;
      nav{
        box-shadow: rgba(156, 156, 156, 0.25) 0px 50px 100px -20px, rgba(212, 212, 212, 0.3) 0px 30px 60px -30px, rgba(216, 216, 216, 0.35) 0px -2px 6px 0px ;
        padding: 0rem 2rem 0rem 2rem;
        width: 85%;
        display: flex;
        justify-content: space-between;
         .top{
           height: 65px;
           text-align: center;
           display: flex;
           align-items: center;
           justify-content: center;
         }
         .bottom{
           ul{
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: center;
             //border: 1px solid rgba(128, 235, 6, 0.5);
             .list{
              .span1{
                  margin-bottom: -20px;
                 color: var(--nav-span1-color);
                 display: block;
                 color: #02be5c;
              }
              .span2{
               transform: translateY(4rem);
                a{
                 color: var(--nav-span2-mode-color) !important;
                }
     
              }
              &:hover .span1{
                transform: translateY(-3.5rem);
               }
               &:hover .span2{
                transform: translateY(0);
               }
            }
           }
         }
         &::after{
           background-color: rgba(0,0,0,0) !important;
         }  
      }
       }
  }
  @mixin xl-nav(){
    .navigation{
      nav{
        width: 75%;
      }
    }
  }



  

  

