#profile{
    height:40vh;
    width: 100%;
    position: relative;
    z-index: var(--zindex_none);
    .parent{
    margin-top: 35px;
    position: relative;
    .child{
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 160px;
        width: 160px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("./image/s1.png");
        border-radius: 50%;
        border: 5px solid rgb(53, 53, 53);
    }
}
.info{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: white;
    }
}
}