#profile{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    .parent{
    height: 30px;
    margin-top: 15px;
    width: 100%;
    background-color: #191919;
    position: relative;
    .child{
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 120px;
        width: 120px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("./image/s1.png");
        border-radius: 50%;
        border: 5px solid rgb(0, 0, 0);
        .image{
            height: 100%;
            width: 100%;
            transform: rotate(45deg);
            margin-left: -5px;
        }
    }
}
}