:root{
    --zindex_top:3;
    --zindex_mid:2;
    --zindex_low:1;
    --zindex_none:0;
}

html {
    --body-bg: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --red:rgb(170, 0, 0);
    --black:black;
    --green: #02be5c;
    --gray:rgb(165, 165, 165);
    --curb:#008842;
    --heading_after:#02be5c;
    --dark-gray:#232323;
}
  
html[data-theme='light'] {
    --body-bg: rgb(255, 255, 255);
    --white: rgb(0, 0, 0);
    --red:rgb(170, 0, 0);
    --black:black;
    --green: #02be5c;
    --gray:rgb(0, 0, 0);
    --curb:#000000;
    --heading_after:#000000;
}

  