:root {
  --zindex_top:3;
  --zindex_mid:2;
  --zindex_low:1;
  --zindex_none:0;
  --white:#ffffff;
  --black:#000000;
  --red:rgb(170, 0, 0);
  --light-green:#02be5c;
  --dark-green:#008842;
  --gray:rgb(165, 165, 165);
  --dark-gray:#232323;
}

html {
  --body-bg:var(--black);
  --hamburger-bg: var(--black);
  --contact-info-bg: var(--dark-gray);
  --name: var(--white);
  --animation-headline: var(--dark-green);
  --headline-span:var(--white);
  --profile-border: var(--dark-green);
  --section-heading: var(--gray);
  --section-heading-p: var(--white);
  --section-heading-after:var(--dark-green);
  --about-bottom-span:var(--dark-green);
  --about-text:var(--gray);
  --cotact-icon: var(--black);
  --cotact-icon-bg: var(--dark-green);
  --contact-h3: var(--gray);
  --social-icon:var(--white);
  --curb:var(--dark-green);
}

html[data-theme='light'] {
  --body-bg:var(--white);
  --name: var(--black);
  --contact-info-bg: var(--gray);
  --animation-headline: var(--black);
  --headline-span:var(--black);
  --profile-border: var(--black);
  --section-heading: var(--black);
  --section-heading-p: var(--black);
  --section-heading-after:var(--black);
  --about-bottom-span:var(--black);
  --about-text:var(--black);
  --cotact-icon: var(--white);
  --cotact-icon-bg: var(--black);
  --contact-h3: var(--black);
  --social-icon:var(--black);
  --curb:var(--black);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ======== Global Start ========= */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#bodys {
  min-height: 100vh;
  background-color: var(--body-bg);
}

a,
a:hover {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

section {
  padding: 1.5rem .5rem;
}

section .section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--section-heading);
  font-family: "Poppins", sans-serif;
}

section .section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  display: inline-block;
  background: var(--section-heading-after);
  margin: 4px 5px;
}

section .section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--section-heading-p);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ======== Global End ========= */
.custom-shape-divider-bottom-1622803107 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1622803107 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 238px;
}

.custom-shape-divider-bottom-1622803107 .shape-fill {
  fill: var(--curb);
}

.menu {
  padding: .8rem .4rem;
  position: fixed;
  top: 3%;
  right: 10%;
  background-color: var(--hamburger-bg);
  z-index: var(--zindex_top);
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 650ms;
  transition: all 650ms;
  border: 2px solid #353535;
}

.menu .line,
.menu .line:before,
.menu .line:after {
  height: 3px;
  width: 25px;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  background-color: var(--white);
}

.menu .line:before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.menu .line:after {
  content: "";
  right: 0;
  position: absolute;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.menu .line.active {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.menu .line.active:before {
  -webkit-transform: rotate(45deg) translate(22px, -22px);
          transform: rotate(45deg) translate(22px, -22px);
}

.menu .line.active:after {
  -webkit-transform: rotate(-45deg) translate(22px, 22px);
          transform: rotate(-45deg) translate(22px, 22px);
}

.navigation {
  height: 50vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: -webkit-transform 650ms;
  transition: -webkit-transform 650ms;
  transition: transform 650ms;
  transition: transform 650ms, -webkit-transform 650ms;
  z-index: var(--zindex_mid);
}

.navigation nav {
  width: 100%;
  margin: 0 auto;
  background-image: url("https://i.postimg.cc/1tJy5QzK/Shishir.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 2rem 0rem 2rem;
  z-index: var(--zindex_low);
  position: relative;
}

.navigation nav .top .brand {
  font-size: 25px;
  color: #02be5c;
  font-weight: 700;
}

.navigation nav .bottom ul {
  z-index: 3 !important;
  list-style-type: none;
}

.navigation nav .bottom ul .list {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 1rem 1rem 0;
  overflow: hidden;
}

.navigation nav .bottom ul .list .span1,
.navigation nav .bottom ul .list .span2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.navigation nav .bottom ul .list .span1 {
  display: none;
}

.navigation nav .bottom ul .list .span2 a {
  color: #02be5c;
}

.navigation nav .bottom ul .list:hover .span2 a {
  color: var(--red) !important;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 2px 2px 19px rgba(206, 89, 55, 0);
}

.navigation nav .bottom ul .list .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation nav .bottom ul .list .switch .frame {
  cursor: pointer;
  width: 56px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 48px;
  background: #ffffffc0;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  overflow: hidden;
}

.navigation nav .bottom ul .list .switch .frame .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 27px;
  width: 27px;
  border-radius: 40px;
  background: #f7f7f7;
  -webkit-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.849), 2px 2px 6px rgba(0, 0, 0, 0.781);
          box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.849), 2px 2px 6px rgba(0, 0, 0, 0.781);
}

.navigation nav .bottom ul .list .switch.active .frame {
  background: #0e133ac0;
  -webkit-box-shadow: -1px -1px 3px #ffffff2a, 2px 2px 6px #0e205085;
          box-shadow: -1px -1px 3px #ffffff2a, 2px 2px 6px #0e205085;
}

.navigation nav .bottom ul .list .switch.active .frame .inner {
  margin-left: 28px;
  background: #010f1f82;
  -webkit-box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(255, 255, 255, 0.192);
          box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(255, 255, 255, 0.192);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.navigation nav .bottom ul .list .switch .inner:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f186";
  color: black;
}

.navigation nav .bottom ul .list .switch.active .inner:after {
  content: "\f185";
  color: #ffffff;
}

.navigation nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.cd-intro {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 768px;
  text-align: center;
  padding: 0 !important;
}

.cd-intro .cd-headline {
  color: var(--white);
  line-height: 1.2;
}

.cd-intro .cd-headline span {
  font-weight: normal;
  font-size: 18px;
  color: var(--headline-span);
}

.cd-intro .cd-headline span b {
  font-size: 20px;
  font-weight: bold;
  color: var(--animation-headline);
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-intro .cd-headline span b.is-visible {
  position: relative;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

/* -------------------------------- 

xclip 

-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}

#profile {
  height: 40vh;
  width: 100%;
  position: relative;
  z-index: var(--zindex_none);
}

#profile .parent {
  margin-top: 35px;
  position: relative;
}

#profile .parent .child {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 160px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://i.postimg.cc/1tJy5QzK/Shishir.png");
  border-radius: 50%;
  border: 5px solid var(--profile-border);
}

#profile .info {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#profile .info h1 {
  color: var(--name);
}

#about {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

#about .top .image {
  border: 5px solid #353535;
  height: 250px;
  background-image: url("https://i.postimg.cc/DzbqYCMd/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#about .top .more p {
  margin: 10px 0;
  color: var(--about-text);
}

#about .bottom {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  color: var(--white);
}

#about .bottom .info span {
  color: var(--about-bottom-span);
}

#about .bottom .info p {
  margin-bottom: 10px;
  color: var(--about-text);
}

#contact .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

#contact .address .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 10px 10px 10px 0;
}

#contact .address .card .info-box {
  padding: 20px;
  width: 100%;
  background: var(--contact-info-bg);
}

#contact .address .card .info-box i.indicate {
  font-size: 24px;
  color: var(--cotact-icon);
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: var(--cotact-icon-bg);
}

#contact .address .card .info-box h3 {
  font-size: 20px;
  color: var(--contact-h3);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

#contact .address .card .info-box p {
  padding: 0;
  color: var(--contact-h3);
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

#contact .address .card .info-box .social-links {
  margin: 5px 0 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .address .card .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: var(--social-icon);
  line-height: 1;
  margin-right: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#contact .address .card .info-box .social-links a:hover {
  color: var(--dark-green);
}

/*======== Media Query Start =============*/
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .navigation nav {
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .menu {
    padding: 1rem .5rem;
  }
  .menu .line,
  .menu .line:before,
  .menu .line:after {
    width: 25px;
  }
  .navigation nav {
    width: 70%;
    background: none !important;
    background-color: black !important;
  }
  #about .top .image {
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .menu {
    display: none;
    right: 9% !important;
  }
  .navigation {
    height: 65px;
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    padding: 0;
  }
  .navigation nav {
    -webkit-box-shadow: rgba(156, 156, 156, 0.25) 0px 50px 100px -20px, rgba(212, 212, 212, 0.3) 0px 30px 60px -30px, rgba(216, 216, 216, 0.35) 0px -2px 6px 0px;
            box-shadow: rgba(156, 156, 156, 0.25) 0px 50px 100px -20px, rgba(212, 212, 212, 0.3) 0px 30px 60px -30px, rgba(216, 216, 216, 0.35) 0px -2px 6px 0px;
    padding: 0rem 2rem 0rem 2rem;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation nav .top {
    height: 65px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation nav .bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation nav .bottom ul .list .span1 {
    margin-bottom: -20px;
    color: var(--nav-span1-color);
    display: block;
    color: #02be5c;
  }
  .navigation nav .bottom ul .list .span2 {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  .navigation nav .bottom ul .list .span2 a {
    color: var(--nav-span2-mode-color) !important;
  }
  .navigation nav .bottom ul .list:hover .span1 {
    -webkit-transform: translateY(-3.5rem);
            transform: translateY(-3.5rem);
  }
  .navigation nav .bottom ul .list:hover .span2 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .navigation nav::after {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  #profile {
    height: 48vh;
  }
  #profile .parent .child {
    top: 20px;
    height: 200px;
    width: 200px;
  }
  #profile .info {
    bottom: 35px;
  }
  .cd-intro {
    bottom: 5px;
  }
  #about .top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .top .image {
    height: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  #about .top .more {
    padding-left: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  #contact .address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #contact .address .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .menu {
    right: 15% !important;
  }
  .navigation nav {
    width: 75%;
  }
}

/*======== Media Query End =============*/
/*# sourceMappingURL=style.css.map */