:root {
  --white: rgb(255, 255, 255);
  --black:black;
  --red: #d30015;
  --yellow: #ffd700;
  --blue: rgb(0, 26, 35);
  --pink: rgb(107, 0, 45);
  --pink1: rgb(54, 0, 22);
  --indigo: #5e01f3;
  --pest: #08e6d3;
  --gray: #848ba0;
  --dark-gray: #535353;
  --color1:#5c86fd;
  --color2: #bdaacc;
  --color3: rgb(7, 16, 102);
  --color4: #13203c;
  --color5:rgba(255, 255, 255, 0.15);
  --rgb_one:rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 4, 40), rgb(0, 4, 40)) repeat scroll 0% 0% !important;
  --rgb_two:rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 4, 40), rgb(0, 4, 40)) repeat scroll 0% 0% !important;
  --zindex_top:3;
  --zindex_mid:2;
  --zindex_low:1;
  --zindex_none:0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ======== Global Start ========= */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

section {
  padding: 3rem;
  background-color: var(--blue);
}

section .section_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section_heading h1 {
  font-size: 20px;
  color: var(--white);
  text-shadow: 0 0 1px var(--blue);
  font-weight: 500;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ======== Global End ========= */
.menu {
  padding: .8rem .4rem;
  position: fixed;
  top: 3%;
  right: 10%;
  background-color: var(--blue);
  z-index: var(--zindex_mid);
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 650ms;
  transition: all 650ms;
  border: 2px solid var(--pink);
}

.menu .line,
.menu .line:before,
.menu .line:after {
  height: 3px;
  width: 25px;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  background-color: var(--white);
}

.menu .line:before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  background-color: #ad1439 !important;
}

.menu .line:after {
  content: "";
  right: 0;
  position: absolute;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  background-color: #ad1439 !important;
}

.menu .line.active {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.menu .line.active:before {
  -webkit-transform: rotate(45deg) translate(22px, -22px);
          transform: rotate(45deg) translate(22px, -22px);
}

.menu .line.active:after {
  -webkit-transform: rotate(-45deg) translate(22px, 22px);
          transform: rotate(-45deg) translate(22px, 22px);
}

.navigation {
  background-image: url("./image/s1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 650ms;
  transition: -webkit-transform 650ms;
  transition: transform 650ms;
  transition: transform 650ms, -webkit-transform 650ms;
}

.navigation nav {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 22rem;
  position: relative;
  z-index: 12;
}

.navigation nav .top .brand {
  font-size: 20px;
  color: yellow;
  font-weight: 700;
}

.navigation nav .bottom ul {
  position: absolute;
  left: 0;
  width: 100%;
  list-style-type: none;
  border: 1px solid red;
}

.navigation nav .bottom ul .list {
  border: 1px solid red;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  overflow: hidden;
  margin-bottom: 10px;
}

.navigation nav .bottom ul .list .span1,
.navigation nav .bottom ul .list .span2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.navigation nav .bottom ul .list .span1 {
  display: none;
}

.navigation nav .bottom ul .list .span2 a {
  color: white;
}

.navigation nav .bottom ul .list:hover .span2 a {
  color: var(--nav-span2-color) !important;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 2px 2px 19px rgba(206, 89, 55, 0);
}

.navigation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}

.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/*======== Media Query Start =============*/
@media screen and (min-width: 768px) {
  .menu {
    padding: 1rem .5rem;
  }
  .menu .line,
  .menu .line:before,
  .menu .line:after {
    width: 25px;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    right: 9% !important;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    right: 15% !important;
  }
}

/*======== Media Query End =============*/
/*# sourceMappingURL=style.css.map */